/* ===========================
   FONTS
   =========================== */

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/poppins-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/poppins-v24-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/poppins-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/poppins-v24-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --purple-500: hsl(259, 100%, 65%);
    --red-400: hsl(0, 100%, 67%);

    /* Neutral */

    --white: hsl(0, 100%, 100%);
    --grey-100: hsl(0, 0%, 94%);
    --grey-200: hsl(0, 0%, 86%);
    --grey-500: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    
    /* Typography */

    --font-base: 'Poppins', sans-serif;

    /* Elements */

    --btn-mobile: 64px;
    --btn-desktop: 96px;

}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--black);
    font-size: 1rem;
    background-color: var(--grey-100);
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    margin: 90px 16px;
}

.main__content {
    background-color: var(--white);
    padding: 46px 24px;
    border-radius: 24px 24px 98px 24px;
}

.form {
    position: relative;
    margin-bottom: 35px;
}

.form__group {
    display: flex;
    gap: 16px;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 88px;
}

.form__label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.28em;
    color: var(--grey-500);
}

.form__input {
    border: 1px solid var(--grey-200);
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 700;
}

.form__input::placeholder {
    color: var(--grey-500);
}

.form__divider {
    background-color: var(--grey-100);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: calc( (var(--btn-mobile) / 2));
    z-index: 0;
}

.form__btn {
    margin: 28px auto 0;
    display: block;
    height: var(--btn-mobile);
}

.form__btn-icon {
    background-color: var(--purple-500);
    border-radius: 50%;
    padding: 18px 17.65px;
    width: var(--btn-mobile);
    height: var(--btn-mobile);
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.date__years,
.date__months,
.date__days {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.02em;
    font-weight: 800;
    font-style: italic;
}

.date__years-num,
.date__months-num,
.date__days-num {
    color: var(--purple-500);
}

@media (min-width: 1024px) {
    .main {
        display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;
    }

    .main__content {
        padding: 56px;
        border-radius: 24px 24px 200px 24px;
    }
}