/* ===========================
   FONTS
   =========================== */

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/poppins-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/poppins-v24-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/poppins-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/poppins-v24-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --purple-500: hsl(259, 100%, 65%);
    --red-400: hsl(0, 100%, 67%);

    /* Neutral */

    --white: hsl(0, 100%, 100%);
    --grey-100: hsl(0, 0%, 94%);
    --grey-200: hsl(0, 0%, 86%);
    --grey-500: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    
    /* Typography */

    --font-base: 'Poppins', sans-serif;

    /* Elements */

    --btn-mobile: 64px;
    --btn-desktop: 96px;
    --btn: clamp(4rem, 2.8444rem + 4.9307vw, 6rem);

}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--black);
    font-size: 1rem;
    background-color: var(--grey-100);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    margin: 5.625rem 1rem;
    margin: clamp(5.625rem, 2.6998rem + 12.4807vw, 10.6875rem)
            clamp(1rem, -4.9226rem + 25.2696vw, 11.25rem);
}

.main__content {
    background-color: var(--white);
    padding: 2.875rem 1rem;
    border-radius: 24px 24px clamp(6.125rem, 2.4414rem + 15.7165vw, 12.5rem) 24px;
}

.form {
    position: relative;
    margin-bottom: 2.1875rem;
}

.form__group {
    display: flex;
    gap: 0.5rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    max-width: 5rem;
}

.form__label {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.28em;
    color: var(--grey-500);
}

.form__input {
    border: 1px solid var(--grey-200);
    border-radius: 6px;
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.form__input::placeholder {
    color: var(--grey-500);
}

.form__divider {
    background-color: var(--grey-100);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: calc( (var(--btn) / 2));
    z-index: 0;
}

.form__btn-wrapper {
    display: flex;
    justify-content: center;
}

.form__btn {
    margin: 1.75rem 0 0;
    display: block;
    height: var(--btn);
}

.form__btn-icon {
    background-color: var(--purple-500);
    border-radius: 50%;
    padding: 18px 17.6496px;
    padding: clamp(1.125rem, 0.8361rem + 1.2327vw, 1.625rem)
             clamp(1.103125rem, 0.8377rem + 1.1325vw, 1.5625rem);
    width: var(--btn);
    height: var(--btn);
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.form__btn-icon:hover,
.form__btn-icon:active {
    background-color: var(--black);
}

.date__years,
.date__months,
.date__days {
    font-size: 3.125rem;
    line-height: 3.5rem;
    letter-spacing: -0.02em;
    font-weight: 800;
    font-style: italic;
}

.date__years-num,
.date__months-num,
.date__days-num {
    color: var(--purple-500);
}

.footer__attribution { 
    font-size: 0.875rem;
    text-align: center; 
    padding: 0.875rem;
    color: var(--gray-500);
}

.footer__link { 
    color: hsl(228, 45%, 44%); 
}

.footer__link:hover {
    text-decoration: underline;
}

@media (min-width: 375px) {

    .main__content {
        padding: 2.875rem 1.5rem;
    }

    .form__item {
        max-width: 5.5rem;
        max-width: clamp(5.5rem, 2.8998rem + 11.094vw, 10rem);
    }

    .form__input {
        font-size: 1.25rem;
        font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    }

    .form__group {
        gap: 1rem;
    }

    .date__years,
    .date__months,
    .date__days {
    font-size: 3.5rem;
    font-size: clamp(3.5rem, 2.4437rem + 4.507vw, 6.5rem);
    line-height: 3.75rem;
    line-height: clamp(3.75rem, 2.5616rem + 5.0704vw, 7.125rem);
    }

}

@media (min-width: 1024px) {
    .main {
        display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;
    }

    .main__content {
        padding: 3.5rem;
        border-radius: 24px 24px 200px 24px;
        min-width: 52.5rem;
    }

    .form {
        margin-bottom: 0px;
    }
    
    .form__group {
        gap: 2rem;
    }
    
    .form__item {
        gap: 0.5rem;
        max-width: 10rem;
    }
    
    .form__label {
        font-size: 0.875rem;
    }
    
    .form__input {
        padding: 0.75rem 1.5rem;
        font-size: 2rem;
    }

    .form__btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    
    .form__btn {
        margin: 0;
    }
    
    .form__btn-icon {
        padding: 1.625rem 1.5625rem;
    }
    
    .date__years,
    .date__months,
    .date__days {
        font-size: 6.5rem;
        line-height: 7.125rem;
        letter-spacing: -0.03em;
    }
}

@media (min-height: 720px) and (min-width: 1024px) {
    .footer__attribution { 
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}